$primary-color: green;

//$icon-url: 'http://localhost:3000/font/iconfont';

//$border-radius-base: 0;

$menu-dark-color: white;

$menu-dark-bg: #3284bf;

$layout-header-background: $cyan-10;

$layout-sider-background: $cyan-9;

$card-head-background: $cyan-7;

$card-head-color: $blue-1;
//$card-head-background: $geekblue-2;
$menu-dark-bg: $layout-sider-background;

$table-row-odd: $cyan-1;
$table-row-even: $cyan-1;

$mycolor: red;

$testcolor: $cyan-10;

$nonAntdBorder : $layout-sider-background $border-width-base $border-style-base;
